{% extends "base.html" %}

{% load static %}

{% block content %}
<style type="text/css">
	body {
		margin-top: 35px;
		background-image: url('{% static "img/serial/mandalorian_ZbnH70e.jpg" %}');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		z-index: 3;
		opacity: 150%;
	}

	h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: yellow;

	}

	a {
		text-decoration: underline;
		color: #E9967A;
	}

	.jumbotron {
		padding: 2rem 1rem;
		margin-bottom: 2rem;
		background-color: transparent;
		border-radius: .3rem;
		z-index: 2;
	}
</style>


	{% for serial in serials %}

	<!--Image-->
	<img src='{{ serial.poster.url }}' width="240" height="300">
	<a href="{{ serial.slug }}"><h1>{{ serial.title }}</h1></a>

		{% endfor %}

		<!-- Paginator -->

	{% if is_paginated %}
			<ul class="pagination">
	{% if page_obj.has_previous %}
			<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
		{% else %}
			<li class="disabled"><span>&laquo;</span></li>
		{% endif %}
	{% for i in paginator.page_range %}
		{% if page_obj.number == i %}
			<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		{% else %}
			<li><a href="?page={{ i }}">{{ i }}</a></li>
		{% endif %}
		{% endfor %}
	{% if page_obj.has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
		{% else %}
			 <li class="disabled"><span>&raquo;</span></li>
		{% endif %}
			</ul>
		{% endif %}
{% endblock %}